.text {
	height: 35em;
  display: flex;
  align-items: center;
  justify-content: center 
}

h1{
	font-family: Raleway;
	color: aliceblue;
	font-size: 2cm;
}

.line{

	border-bottom: 2px solid rgb(255, 255, 255); /* Параметры линии */
	width: 9cm;
	position: relative; /*Позируем*/
	left: 13cm; /*вправо идёт текст*/
	bottom: 6cm; /*Вверх идёт текст*/
	
}

.vk {
	position: relative;
	left: 270px; /*вправо идёт текст*/
	bottom: 110px; /*Вверх идёт текст*/
	color: rgba(0, 0, 0, 0);
}

.ds {
	position: relative;
	left: 300px; /*вправо идёт текст*/
	bottom: 110px; /*Вверх идёт текст*/
	color: rgba(0, 0, 0, 0);
}

.steam {
	position: relative;
	left: 310px; /*вправо идёт текст*/
	bottom: 110px; /*Вверх идёт текст*/
	color: rgba(0, 0, 0, 0);
}

